body {
    padding-top: 60px; /* Adjust based on navbar height */
}
.flex-div{
    display: flex;
    align-items: center;
    background-color: white;
    /* position: fixed; */
}
/* nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 10;
} */
 nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed; /* Change sticky to fixed */
    top: 0;
    left: 0;
    width: 100%; /* Ensure it spans the entire width */
    z-index: 1000; /* Make sure it stays above other content */
    background-color: white; /* Add this if necessary */
}

.menu-icon{
    width:22px;
    margin-right:25px ;
}
.logo{
    width:130px ;


}
.search-box{
    border: 1px solid#ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
input{
    width: 400px;
    border:none ;
     outline: 0;/* remove the rectangle of input when we wite */
    /* background-color: transparent; */
}
.serach{
    width: 15px;
}
.nav-right{
    display: flex;
}
.nav-right img {
    width: 25px;
    margin-right: 25px;
}
.user-icon{
    border-radius: 50%;
    width: 35px;
}
